## [Eng de Dados] Trabalho Final - DataOps
#### Benício B. de A. Carneiro
10/05/2025

In [1]:
import pandas as pd
import sqlite3

### [TRANSFORMAÇÃO] Camada Prata

In [ ]:
conn_sqlite = sqlite3.connect('salarios-servidores.db')

df = pd.read_sql_query('SELECT * FROM "landing-abril"', conn_sqlite)

In [7]:
df.drop(columns=['diarias', 'nome_servidor'], inplace=True)

df['total_proventos'] = pd.to_numeric(df['total_proventos'])
df['proventos_liquidos'] = pd.to_numeric(df['proventos_liquidos'])
df['total_descontos'] = pd.to_numeric(df['total_descontos'])
df['desconto_teto'] = pd.to_numeric(df['desconto_teto'])
df['outros_descontos'] = pd.to_numeric(df['outros_descontos'])
#df['diarias'] = pd.to_numeric(df['diarias'])

df['criacao'] = pd.to_datetime(df['criacao'])
df['atualizacao'] = pd.to_datetime(df['atualizacao'])
df['competencia'] = pd.to_datetime(df['competencia'])

df['id'] = df['id'].astype(str)

df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116813 entries, 0 to 172876
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  116813 non-null  object
 1   total_proventos     116813 non-null  float64
 2   proventos_liquidos  116813 non-null  float64
 3   total_descontos     116813 non-null  float64
 4   desconto_teto       116813 non-null  float64
 5   outros_descontos    116813 non-null  float64
 6   criacao             116813 non-null  datetime64[ns, UTC-03:00]
 7   atualizacao         116813 non-null  datetime64[ns, UTC-03:00]
 8   competencia         116813 non-null  datetime64[ns]
 9   situacao_funcional  116813 non-null  object
 10  dsc_cargo           116813 non-null  object
 11  codigo_orgao        116718 non-null  object
 12  descricao_orgao     116813 non-null  object
 13  sigla               116813 non-null  object
dtypes: datetime64[ns, UTC-03:00](2), datetime64[ns](1), float64(5), object(6)
memory usage: 13.4+ MB

In [8]:
df.to_sql('staging-abril', conn_sqlite, if_exists='replace', index=False)

116813